div#asosiasi {
    background-image: url('http://localhost/pu-web/assets/image/pupr.jpg');
    background-size: 500px 800px;
}

div.card-body {
    background-image: url('http://localhost/pu-web/assets/image/pupr.jpg');
    background-size: 500px 800px;
}

section#pricing {
    background-color: rgb(245, 169, 29);
}

section#services {
    background-color: rgb(245, 169, 29);
}

#services .section-title h2 {
    color: white;
}

#services .section-title p {
    color: white;
}

#pricing .section-title h2 {
    color: white;
}

#pricing .section-title p {
    color: white;
}

.padding .box {
    padding: 0px;
}