div#asosiasi {
    background-image: url('http://localhost/pu-web/assets/image/pupr.jpg');
    background-size: 500px 800px;
}

div#balai {
    background-image: url('http://localhost/pu-web/assets/image/pupr.jpg');
    background-size: 1000px 600px;
}

section#balai_pupr {
    background-color: rgb(245, 169, 29, 0.9);
    background-size: 500px 700px;
}

section#counts1 {
    background-color: rgb(245, 169, 29, 0.9);
    background-size: 500px 700px;
}

div#mitra_1 {
    background-image: url('http://localhost/pu-web/assets/image/konstruksi_2.png');
    background-size: 1000px 600px;
}

div#opd {
    background-image: url('http://localhost/pu-web/assets/image/konstruksi_2.png');
    background-size: 500px 400px;
}

div#vokasi_1 {
    background-image: url('http://localhost/pu-web/assets/image/konstruksi_2.png');
    background-size: 500px 400px;
}

div#asosiasi_profesi {
    background-image: url('http://localhost/pu-web/assets/image/dewan_redaksi.png');
    background-size: 500px 300px;
}

div#asosiasi_bujk {
    background-image: url('http://localhost/pu-web/assets/image/dewan_redaksi.png');
    background-size: 500px 300px;
}

div#lapas_1 {
    background-image: url('http://localhost/pu-web/assets/image/konstruksi.png');
    background-size: 600px 400px;
}

div#bujk_1 {
    background-image: url('http://localhost/pu-web/assets/image/konstruksi.png');
    background-size: 600px 400px;
}

div#aktk_1 {
    background-image: url('http://localhost/pu-web/assets/image/konstruksi.png');
    background-size: 600px 400px;
}

div#ABU {
    background-image: url('http://localhost/pu-web/assets/image/konstruksi.png');
    background-size: 600px 400px;
}

div#SE_KD {
    background-image: url('http://localhost/pu-web/assets/image/dewan_redaksi.png');
    background-size: 600px 400px;
}

div#RPKBS_1 {
    background-image: url('http://localhost/pu-web/assets/image/konstruksi_2.png');
    background-size: 600px 400px;
}

div#RPBWP_1 {
    background-image: url('http://localhost/pu-web/assets/image/konstruksi_2.png');
    background-size: 600px 400px;
}

div.card-body {
    background-image: url('http://localhost/pu-web/assets/image/pupr.jpg');
    background-size: 500px 800px;
}

div.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_mitra {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_Balai_Sektoral {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_OPD {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_vokasi {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_Asosiasi_Profesi {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_ABUJK {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_lapas {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_BUJK {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_DIV {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_DINV {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_AKTK {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_DABU {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_SE_Kepala_Daerah {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_RPK {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_RPBK {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_PBMK {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_RPBWP {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_RPKBS {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_RPKBMK {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

div.loader_PPK {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgb(245, 169, 29);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

section#pricing {
    background-color: rgb(245, 169, 29);
}

section#services {
    background-color: rgb(245, 169, 29);
}

section#instruktur {
    background-color: #4aa3df;
}

#services .section-title h2 {
    color: white;
}

#services .section-title p {
    color: white;
}

#pricing .section-title h2 {
    color: white;
}

#pricing .section-title p {
    color: white;
}

.padding .box {
    padding: 0px;
}