/* Card untuk rekapitulasi */
.card-recap {
    border-radius: 14px;
}

/* kalender_kegiatan */
.container-background {
    background-color: #fff;
    padding: 24px;
    border-radius: 14px;
}

.button-field {
    margin-bottom: 32px;
}

.btn-add-kegiatan {
    height: 40px !important;
    border-radius: 14px;
}

.btn-modal-add-kegiatan {
    height: 44px !important;
    border-radius: 30px;
    background-color: #FFC928 !important;
    border: none;
    color: #2b2b2b;
    font-weight: 800;
}

.btn-modal-close-add-kegiatan {
    height: 44px !important;
    border-radius: 30px;
    color: #2b2b2b;
    font-weight: 800;
}
.btn-modal-edit-profile {
    height: 44px !important;
    border-radius: 30px !important;
    font-weight: 800;
}

.btn-import-kegiatan {
    height: 40px !important;
    margin-left: 16px;
    border-radius: 14px;
}

.btn-filter-kegiatan {
    height: 40px !important;
    margin-right: 16px;
    border-radius: 14px;
    background-color: #DEDEDE;
}

/* upload image kegiatan */

#banner-kegiatan
{
    display: none;
}

#banner-image
{
    cursor: pointer;
}

#profile-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #2b2b2b;
}

#profile-container img {
    object-fit: contain;
    width: 100%;
    height: 300px;
}

/* end of upload image kegiatan */

/* upload image profile */

#banner-profile
{
    display: none;
}

#banner-image-profile
{
    cursor: pointer;
}

#profile-picture-container {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius:50%;
    border: 2px solid #2b2b2b;
}

#profile-picture-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* end of upload image profile */

/* Custom modal full screen */
.modal-daftar-peserta-kegiatan-custom {
    max-width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    display: flex;
}

/* show bigger image when hover */
.image-hover {
    /* padding: 50px; */
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .image-hover:hover {
    -ms-transform: scale(2.0); /* IE 9 */
    -webkit-transform: scale(2.0); /* Safari 3-8 */
    transform: scale(2.0); 
  }

  /* End of show bigger image when hover */
  
  .badge-status-user{
      background-color: #36b9cc;
      font-size: 10px;
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 4px;
      padding-right: 4px;
      border: 1px solid #36b9cc;
      border-radius: 15px;
      margin-top: -3px;
  }

  .form-data-pendidikan-title{
      margin-top: 3rem;
  }

  .truncate {
    max-width:50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }