/* Card untuk rekapitulasi */
.card-recap {
    border-radius: 14px;
}

/* kalender_kegiatan */
.container-background {
    background-color: #fff;
    padding: 24px;
    border-radius: 14px;
}

.button-field {
    margin-bottom: 32px;
}

.btn-add-kegiatan {
    height: 40px !important;
    border-radius: 14px;
}

.custom-file-label {
    overflow: hidden;
    object-fit: cover;
}

.btn-modal-add-kegiatan {
    height: 44px !important;
    border-radius: 30px;
    background-color: #FFC928 !important;
    border: none;
    color: #2b2b2b;
    font-weight: 800;
}

.btn-modal-close-add-kegiatan {
    height: 44px !important;
    border-radius: 30px;
    color: #2b2b2b;
    font-weight: 800;
}

.btn-import-kegiatan {
    height: 40px !important;
    margin-left: 16px;
    border-radius: 14px;
}

.btn-download-file-kegiatan {
    height: 40px !important;
    border-radius: 14px;
}

.btn-filter-kegiatan {
    height: 40px !important;
    margin-right: 16px;
    border-radius: 14px;
    background-color: #DEDEDE;
}

.btn-profile {
    height: 44px !important;
    color: #FFC928;
    border: 2px solid #FFC928;
    border-radius: 30px;
    font-weight: 800;
}

.btn-profile:hover {
    height: 44px !important;
    color: #FFF;
    background-color: #FFC928;
    border: none;
    border-radius: 30px;
    font-weight: 800;
}

.btn-profile:active {
    height: 44px !important;
    color: #FFF;
    background-color: #FFC928;
    border: none;
    border-radius: 30px;
    font-weight: 800;
}

/* upload image kegiatan */

#banner-kegiatan
{
    display: none;
}

#banner-image
{
    cursor: pointer;
}

#profile-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #2b2b2b;
}

#profile-container img {
    object-fit: contain;
    width: 100%;
    height: 300px;
}

/* end of upload image kegiatan */

/* upload image profile */

#edit-banner-kegiatan
{
    display: none;
}

#banner-image-edit
{
    cursor: pointer;
}
/* upload image profile */

#banner-profile
{
    display: none;
}

#banner-image-profile
{
    cursor: pointer;
}

#profile-picture-container {
    width: 230px;
    height: 230px;
    object-fit: cover;
    overflow: hidden;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius:50%;
    border: 2px solid#846d6d;
    margin-bottom: 20px;
}

#profile-picture-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* end of upload image profile */

/* upload image kegiatan */

#banner-berita
{
    display: none;
}

#banner-image-edit-berita
{
    cursor: pointer;
}

/* end of upload image kegiatan */

#detail-berita-container {
    width: 100%;
    height: 260px;
    overflow: hidden;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #2b2b2b;
}

#detail-berita-container img {
    object-fit: cover;
    padding: -2px;
    width: 100%;
    height: 100%;
}

/* Custom modal full screen */
.modal-daftar-peserta-kegiatan-custom {
    max-width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    display: flex;
}

/* show bigger image when hover */
.image-hover {
    /* padding: 50px; */
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .image-hover:hover {
    -ms-transform: scale(2.0); /* IE 9 */
    -webkit-transform: scale(2.0); /* Safari 3-8 */
    transform: scale(2.0); 
  }

  /* End of show bigger image when hover */
  
  .badge-status-user{
      background-color: #FFC928;
      font-size: 10px;
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 4px;
      padding-right: 4px;
      border: 1px solid #FFC928;
      border-radius: 15px;
      margin-top: -3px;
  }

  .form-data-pendidikan-title{
      margin-top: 3rem;
  }

  .truncate {
    max-width:50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .truncate-judul-berita {
    max-width:300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .truncate-berita {
    max-width:500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  textarea{  
    /* box-sizing: padding-box; */
    overflow:hidden;
    /* demo only: */
    padding:10px;
    width:250px;
    font-size:14px;
    display:block;
    border-radius:10px;
  }

  .custom-radio-button-form input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  
  .custom-radio-button-form input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    visibility: hidden;
  }
  
  .custom-radio-button-form .radio-custom input[type="radio"]:checked+label,
  .Checked+label {
    background-color: #846d6d;
    color: white;
  }
  
  .custom-radio-button-form .radio-custom label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #846d6d;
    color: #846d6d;
    border-radius: 20px;
    cursor: pointer;
    z-index: 90;
    display: inline-block;
  }
  
  .custom-radio-button-form .radio-custom label:hover {
    background: #f0f0f0;
  }

/* Add new kegiaan  */
.btn-move-input-experts {
    color: #fff !important;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 20px;
}

.btn-move-input-experts:hover {
    cursor: pointer;
}

.btn-selesaikan-kegiatan{
    background-color:#ffa742;
    border-color: #ffa742;
    color: white;
}

.btn-selesaikan-kegiatan:hover{
    color: white;
    background-color:#f5901d;
}
