body {
    background-image: url("http://localhost/pu-web/assets/image/maaf.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.masuk-title {
    font-size: 33px;
    font-weight: 800;
}

.keterangan-title {
    font-size: 19px;
    font-weight: normal;
}