body {
    overflow: hidden;
}

.image-ilustrasi {
    border: 5px solid #2b2b2b;
}

.ilustrasi-title {
    font-size: 33px;
    font-weight: 800;
    margin-left: 12px;
    color: #2b2b2b;
}

.image-title {
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 12px;
}

.masuk-title {
    font-size: 33px;
    font-weight: 800;
}

.keterangan-title {
    font-size: 19px;
    font-weight: normal;
}

.row {
    min-height: 100vh;
}

.left {
    background-color: #FFC928;
}


.right {
    background-color: #fff;
}

.lupa-password {
    text-align: right;
    color: #364878;
    font-weight: 600;
}

.input {
    height: 44px;
}

.btn-masuk {
    background-color: #FFC928 !important;
    border: none;
    height: 44px;
    color: #2b2b2b;
    border-radius: 33px;
    font-weight: 600;
    font-size: 16px;
}